<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wantao.mapper.ArticleCategoryRefMapper">
	<select id="selectCategoryByArticleId" resultType="com.wantao.bean.Category">
	    select * from category where category_id =(
	       select category_id from article_category_ref
	       where article_id=#{article_id}
	    )
	</select>
	<insert id="insertArticleCategoryRef">
	  insert into article_category_ref(article_id,category_id)values(#{newArticleId},#{categoryId})
	</insert>
	<update id="updateArticleCategoryRef">
	  update article_category_ref set category_id=#{categoryId} where article_id=#{articleId}
	</update>
	<select id="selectArticleByCategoryId" resultType="com.wantao.bean.Article">
	  select * from article where article_id in (
	      select article_id from article_category_ref
	      where category_id = #{categoryId}
	  ) and article_status =1 order by article_create_time desc
	</select>
	<select id="selectMostArticleCategory4" resultType="com.wantao.bean.Category">
	    create or replace view article_category_view0 as select category_id from article_category_ref group by category_id order by count(article_id) desc limit 4;
         select * from category where category_id in (select category_id from article_category_view0);
	</select>
</mapper>