<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wantao.mapper.CommentMapper">
  <select id="selectCommentCount" resultType="java.lang.Integer">
     select count(*) from comment
  </select>
  <select id="selectAllComment" resultType="com.wantao.bean.Comment">
     select * from comment
  </select>
  <select id="selectCommentsByArticleId" parameterType="java.lang.Integer" resultType="com.wantao.bean.Comment">
     select * from comment where article_id =#{articleId}
  </select>
  <delete id="deleteCommentByBatchById">
	  delete from comment where comment_id in
	  <foreach collection="list" item="id" separator="," open="(" close=")">
	      #{id}
	  </foreach>
	</delete>
	<insert id="insertComment" parameterType="com.wantao.bean.Comment">
	 insert into comment(comment_article_id,comment_user_name,comment_user_email,comment_content,comment_ip,comment_create_time)
	 values(#{commentArticleId},#{commentUserName},#{commentUserEmail},#{commentContent},#{commentIp},#{commentCreateTime})
	</insert>
</mapper>